# Android / Gradle
*.iml
.gradle/
/local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.ap_
*.dex
*.class
/out/

# Keep the Gradle wrapper
!gradle-wrapper.jar
!gradle-wrapper.properties
